/* padding: top right bottom left */

body {
font-family: arial, helvetica,  sans-serif;
font-size: 16px;
color: #666;
line-height: 1.2em;
background-color: #fff;
padding: 0px;
margin: 0px;
}

#topbar {
float: left;
width: 100%;
background-color: #2b2525;
padding-top: 8px;
padding-bottom: 8px;
margin-bottom: 25px;
}

#header {
float: left;
width: 100%;
color: #ccc;
border-top: 1px solid #333333;
border-bottom: 1px solid #333333;
background-color: #1e1918;
}

#navigation {
font-size: 1.3em;
padding-top: 10px;
padding-left: 20px;
}

#main {
float:left;
width: 95%;
margin-left: 20px;
text-align: justify;
}

#picture img {
float: right;
vertical-align: top;
border: 1px solid black;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-right: 50px;
}

#footer {
float: left;
padding-left: 20px;
font-size: 0.8em;
}

a:link, a:visited, a:hover {
color: #ff7b14;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:link.active, a:visited.active, a:hover.active {
color: #666;
font-weight: bold;
}

h1 {
color: #fff;
font-size: 2.8em;
letter-spacing: 0.02em;
font-weight: lighter;
padding-left: 30px;
/*display: inline;*/
/*line-height: 110px;*/
}

h2 {
margin: 4px 0;
padding: 8px 0;
font-size: 2.0em;
font-weight: lighter;
border-bottom:1px solid #e9e9e9;
}

h3 {
padding: 12px 0 5px 0;
margin: 5px 0 0 0;
font-size: 1.3em;
font-weight: lighter;
//border-bottom:1px dashed #e9e9e9;
border-bottom:1px dashed grey;
}

h2, h3 {
color: #1a1a1a;
}

img {
border: 0px;
}

.black {
color: #000;
}

.italic {
font-style: italic;
}

li {
margin-bottom: 5px;
}

ul.pub li {
margin-bottom: 20px;
}

table, td, th {
border: 2px solid grey;
border-collapse: collapse;
text-align: center;
}

table {
margin-top: 15px;
margin-bottom: 30px;
}

.code {
background-color: #f9f9f9;
border: 1px solid silver;
overflow: auto;
margin: 5px;
display: inline-block;
}

.code pre {
margin: 0;
padding: 5px;
width: auto;
float: none;
clear: none;
overflow: visible;
line-height: 1.333;
}
